@import "./../../../sass/colors";

.main {
  .home {
    h1 {
      color: $titleH1;
      font-family: "Love Story Rough";
      text-align: center;
      font-size: 3.4rem;
      margin-bottom: 2.5rem;
    }
    h2 {
      color: $texto;
      font-family: "Microsoft New Tai Lue";
      text-align: center;
      font-size: 2.25rem;
      margin-bottom: 2rem;
    }
    p.text {
      color: $texto;
      font-family: "Microsoft New Tai Lue";
      text-align: center;
      font-size: 19px;
    }

    .btn-group {
      a.btn-home {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Microsoft New Tai Lue";
        font-size: 1.2rem;
        padding: 0.375rem 0.75rem;
        text-align: center;
        vertical-align: middle;
        background-color: $fondoDark;
        border: 1px solid $fondoDark;
        color: white;
        line-height: 1.5;
        box-shadow: 0 0.4rem 0.7rem 0.1rem #a33bca91;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        width: 11rem;
        height: 5rem;
        cursor: pointer;
      }
      a.btn-home:hover {
        background-color: white;
        color: $fondoDark;
        text-decoration: none;
      }

      a.btn-home:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
}
