@import "./colors";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/brands";
@import "@fortawesome/fontawesome-free/scss/v4-shims";

html, body, #root, .layout {
  height: 100%;
}

body {
  #root {
    .layout {
      display: flex;
      flex-direction: column;

      .main {
        margin-top: 4rem;
      }

      .footer {
        margin-top: auto;
      }
    }
  }
}
