@import "./colors";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/brands";
@import "@fortawesome/fontawesome-free/scss/v4-shims";

@import "~bootstrap/scss/bootstrap";

body {
  main {
    margin-top: 4rem;
    background-color: white;
  }

  main.login, main.singUp {
    background-color: $fondoLight;
  }

  .footer {
    margin-top: auto;
  }
  // .layout {
  //   display: flex;
  //   flex-direction: column;
  // }
}
