//Botón Nueva tarea

.btn-newTask {
  margin-left: 150px;
  border: 3px solid $fondoDark;
  background-color: white;
  color: $fondoDark;
  border-radius: 10px;
  font-size: 1.1em;
  font-weight: bold;
  width: 250px;
  height: 50px;
}

.btn-newTask:hover {
  background-color: $fondoDark;
  color: white;
}

//Modales

.modalHeader {
  background-color: $fondoLight;
  .modalTitle {
    color: white;
    font-family: LoveStory;
    font-size: 1.8em;
  }
  .btn-close {
    margin: -3.5rem 0.6rem 0.88rem 436px !important;
    width: 16px !important;
    background-color: #ae88d6;
    color: white;
    border: none;
    border-radius: 10px;
  }
  .btn-close:hover {
    background-color: #8461a8;
  }
}

.btn-yes {
  background-color: $fondoDark;
  color: white;
  border: none;
  border-radius: 10px;
  width: 90px;
  height: 30px;
}

.btn-yes:hover {
  background-color: $fondoLight;
}

.btn-done {
  background-color: $fondoDark;
  color: white;
  border: none;
  border-radius: 10px;
  width: 90px;
  height: 30px;
}

.btn-done:hover {
  background-color: $fondoLight;
}

.btn-no {
  background-color: $titleH1;
  color: white;
  border: none;
  border-radius: 10px;
  width: 90px;
  height: 30px;
}

.btn-no:hover {
  background-color: $fondoLight;
}

.btn-volver {
  background-color: $titleH1;
  color: white;
  border: none;
  border-radius: 10px;
  width: 90px;
  height: 30px;
}

.btn-volver:hover {
  background-color: $fondoLight;
}

.input {
  border-radius: 20px !important;
  box-shadow: inset -4px -4px 10px 1px $titleH1;
}
