.sectionPodcasts{
    background-color: $sombras;
    .titlePodcasts{
        color: white;
        font-family: LoveStory;
        font-size: 4em;
        text-align: center;
    }
    .pPodcasts{
        color: white;
        font-size: 1em;
        text-align: center;
        width: 80%;
        margin: 0 auto;
        font-family: MicrosoftTL;
    }
}

.podcasts{
    display: flex;
    flex-direction: row;
    .podcast{
        width: 43%;
        margin: 60px 50px;
        .podcastCover{
            width: 200px;
            height: 190px;
            opacity: 1;
            transition: .5s ease;
            backface-visibility: hidden;
        }
        .middle {
            transition: .5s ease;
            opacity: 0;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
            position: absolute;
            margin-left: 100px;
            margin-top: -81px;
          }
          
          .imgcontainer:hover .podcastCover {
            opacity: 0.3;
          }
          
          .imgcontainer:hover .middle {
            opacity: 1;
          }
          
          .btn-podcast {
            background-color: $sombras;
            color: white;
            width: 100px;
            font-size: 0.8em;
            padding: 7px 1px;
            border: none;
            border-radius: 10px;
          }
        .infoPodcast{
            width: 56%;
            .podcastName{
                font-family: MicrosoftTL;
                font-size: 1.5em;
                color: white;
                font-weight: bold;
                margin-top: 15px;
            }
            .podcastDescription{
                font-family: MicrosoftTL;
                font-size: 1em;
                color: white;
            }
            .btn-goToPage{
                background-color: $colorName;
                color: white;
                width: 130px;
                font-size: 0.8em;
                padding: 7px 1px;
                border: none;
                border-radius: 10px;
            }
            .btn-goToPage:hover{
                background-color: $titleH1;
            }
        }
    }
}

@media (max-width: 500px) {
    .podcasts {
      display: flex;
      flex-direction: column;
    }
    .podcast{
        width: 100%;
    }
    .infoPodcast{
        width: 111%;
    }
  }