@import "../../../sass/colors.scss";

@import "./buttonsChecklist.scss";
@import "./sectionMusic.scss";
@import "./welcomeView.scss";
@import "./sectionChecklist.scss";
@import "./secTecPomodoro.scss";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap");

@mixin font($font-family, $font-file) {
  @font-face {
    font-family: $font-family;
    src: url("../../fonts/Love\ Story\ Rough.ttf");
    font-weight: normal;
    font-style: normal;
  }
}

@mixin font2($font-family, $font-file) {
  @font-face {
    font-family: $font-family;
    src: url("../../fonts/ntailu.ttf");
    font-weight: normal;
    font-style: normal;
  }
}

@include font("LoveStory", "../../fonts/Love\ Story\ Rough.ttf");
@include font2("MicrosoftTL", "../../fonts/ntailu.ttf");
