@import "./../../../sass/colors";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

body {
  #root {
    header {
      nav.navbar {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.65);
        @include media-breakpoint-down(xl) {
          height: 80px;
        }
        @include media-breakpoint-down(lg) {
          height: 75px;
        }
        @include media-breakpoint-down(md) {
          height: 73px;
        }
        @include media-breakpoint-down(sm) {
          height: 115px;
        }
        a.navbar-brand {
          font-family: "Love Story Rough";
          height: 6vh;
          padding: 0;
          margin: 0;
          img#nameLogo {
            height: 100%;
          }
        }

        .btn-group {
          padding-top: 0.3125rem;
          padding-bottom: 0.3125rem;

          a {
            display: inline-block;
            font-family: "Microsoft New Tai Lue Bold";
            font-size: 1rem;
            padding: 0.375rem 0.75rem;
            text-align: center;
            vertical-align: middle;
            color: $fondoDark;
            border: 1px solid $fondoDark;
            line-height: 1.5;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
              box-shadow 0.15s ease-in-out;
          }

          a.btn-sign-up:hover,
          a.btn-sign-in:hover,
          a.btn-prueba:hover {
            background-color: $fondoDark;
            color: white;
          }
          a.btn-sign-up:focus,
          a.btn-sign-in:focus,
          a.btn-prueba:focus {
            outline: none;
            box-shadow: none;
          }
        }
      }
    }
  }
}
