@import "./../../../sass/colors";

body {
  #root {
    header {
      nav.navbar {
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.65);
        a.navbar-brand {
          img#nameLogo {
            height: 6vh;
          }
        }

        .btn-group {
          padding-top: 0.3125rem;
          padding-bottom: 0.3125rem;

          button {
            display: inline-block;
            font-size: 1rem;
            padding: 0.375rem 0.75rem;
            text-align: center;
            vertical-align: middle;
            color: $fondoDark;
            border: 1px solid $fondoDark;
            line-height: 1.5;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
          }

          button.btn-sign-up:hover, button.btn-sign-in:hover {
            background-color: $fondoDark;
            color: white;
          }
          .btn-sign-up:focus, .btn-sign-in:focus {
            outline: none;
            box-shadow: none;
          }
        }
      }
    }
  }
}
