
.nav-tabs .nav-link {
    color: #a33bca !important;
    font-size: 1.6em;
    font-family: LoveStory;
}

.nav-link.active,
.nav-item.show .nav-link {
  color: #ffffff !important;
  background-color: #a33bca !important;
  border-color: #a33bca !important;
  font-family: LoveStory;
  font-size: 1.6em;
}
