.sectionContactUs{
    background-color:$fondoLight;
    .titleContactUs{
        color: white;
        font-family: LoveStory;
        text-align: center;
        font-size: 3em;
    }
    .pContactUs{
        color: white;
        text-align: center;
        font-family: MicrosoftTL;
        font-size: 1em;
    }
    .chatbox{
        background-color: white;
        width: 600px;
        height: 500px;
        margin: 50px auto;
        box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.85);
        .logo{
            width: 230px;
        }
        .chatArea{
            display: flex;
            flex-direction: row;
            background-color: $sombras;
            color: white;
            .textarea{
                border-radius: 10px;
                width: 460px;
                box-shadow: inset -4px -4px 10px 1px #b872ff;
            }
            .btn-send{
                color: #A33BCA;
                background-color: white;
                border-radius: 20px;
                width: 45px;
                height: 40px;
                font-size: 20px;
                padding-left: 11px;
                padding-top: 3px;
                margin-left: 50px;
                cursor: pointer;
                box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.85);
            }
        }
        
    }
}