section.tareas {
  padding-bottom: 0 !important;
  background-color: $fondoLight;
  @include media-breakpoint-down(xl) {
    padding-top: 5rem !important;
  }
  @include media-breakpoint-down(lg) {
    padding-top: 4.7rem !important;
  }
  @include media-breakpoint-down(md) {
    padding-top: 4.5rem !important;
  }
  @include media-breakpoint-down(sm) {
    padding-top: 7rem !important;
  }

  .options{
    display: flex;
    flex-direction: row;
    width: 1000px;
    justify-content: space-between;
    margin-top: 35px;
    margin-bottom: 20px;
  }
  .divNewTask{
    display: flex;
    flex-direction: row;
  }
  .taskFilter{
    display: flex;
    flex-direction: row;
    .filterText{
      color: white;
      font-size:1.3em;
      margin-left: 15px;
      font-family: LoveStory;
    }
    .container {
      display: block;
      position: relative;
      font-size: 1.6em;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    
    .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #eee;
      border-radius: 50%;
    }
    
    .container:hover input ~ .checkmark {
      background-color: #ccc;
    }
    .container input:checked ~ .checkmark {
      background-color: #876bad;
    }
    
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
    
    .container input:checked ~ .checkmark:after {
      display: block;
    }
    
    /* Style the indicator (dot/circle) */
    .container .checkmark:after {
      top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
    }
  }

  .newTaskText{
    font-family: LoveStory;
    color: white;
    font-size: 1.6em;
    margin-right: 10px;
    margin-top: 5px;
  }

  .btnNewTask{
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: #876bad;
    font-size: 1.1em;
    background-color: white;
  }
  .btnNewTask:hover{
    color: white;
    background-color: #876bad;
  }

 
  .titleList {
    color: white;
    font-family: LoveStory;
    font-size: 2.8em;
    text-align: left;
  }

  .checklistBox {
    background-color: white;
    max-width: 1100px;
    border-radius: 20px;
    box-shadow: 5px 8px 11px -3px $sombras;
    margin-bottom: 40px;
    ul {
      li {
        text-align: left;
        margin-top: 10px;
        background-color: transparent;
        border: none;
        span {
          font-weight: normal;
          margin-right: 5px;
          font-size: 1.3rem;
          color: black;
          @include media-breakpoint-down(xl) {
            width: 100%;
          }
          @include media-breakpoint-down(lg) {
            width: 270px;
          }
          @include media-breakpoint-down(md) {
            width: 215px;
          }
          @include media-breakpoint-down(sm) {
            width: 155px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          &:after {
            position: absolute;
            content: "";
            border: 0.5em solid white;
            border-radius: 50%;
            left: 0.1em;
            top: 50%;
            margin-top: -0.5em;
            transition: all 0.3s ease-out;
            font-size: 0.8rem;
          }
        }

        .checkbox {
          width: 30px;
          height: 30px;
          margin-right: 15px;
        }
        #botones {
          max-width: max-content;
        }
      }
      ::marker {
        color: white;
        font-size: 1.5rem;
      }
    }
  }



  //Button Checklist
  .buttons {
    .buttonsChecklist {
      margin: 30px;
    }
  }

  //Botones Editar y Borrar
  .btn-edit {
    background-color: rgb(142, 248, 142);
    color: white;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    width: 50px;
    height: 40px;
  }

  .btn-edit:hover {
    background-color: rgb(115, 223, 115);
  }

  .btn-delete {
    background-color: rgba(255, 101, 101, 0.911);
    color: white;
    border: none;
    border-radius: 10px;
    width: 50px;
    height: 40px;
  }

  .btn-delete:hover {
    background-color: rgba(218, 75, 75, 0.911);
  }

  //Character
  .characterSC {
    background-color: $fondoDark;
    display: flex;
    align-items: center;
  }

  .anuncios {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .p-checklist {
    color: white;
    font-size: 1.5em;
  }

  .checklistCharacter {
    width: 200px;
    height: 500px;
  }
}

.tableheader{
  padding-top: 0px !important;
  margin: -1px -15px;
  width: 1100px;
}

.list-group{
  display: flex !important;
  flex-direction: row !important;
  list-style: none !important;
  justify-content: space-between;
}

.liheader{
  background-color: #876bad;
  height: 45px;
  padding: 10px;
  height:45px;
  font-size: 1.2em;
  font-family: MicrosoftTL;
  color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

td{
  margin: 15px;
}

.liTitle{
  font-weight: bold;
}

.taskCategory{
  font-weight: bold;
  color: #876bad;
}

.btnCheck{
  background-color: #c7a9e6;
  color: white;
  border: none;
  width: 40px;
  height: 30px;
  border-radius: 10px;
}

.btnCheck:hover{
  background-color: #876bad;
}

.socialmedia{
  display: flex;
  flex-direction: row;
  .socialMediaIcon{
    color: #876bad;
    font-size: 2em;
    margin-right: 10px;
  }
}