.secPomodoro {
  background-color: $fondoDark;
  width: 100%;
  padding-top: 8rem !important;
  padding-bottom: 4rem !important;
  .titlePomodoro {
    color: white;
    font-family: LoveStory;
    text-align: center;
    font-size: 4em;
  }
}

.titleWorkTime {
  color: white;
  font-family: LoveStory;
  text-align: center;
  font-size: 2.7em;
}

.imgreloj {
  width: 170px;
  height: 250px;
}

.btn-time {
  border: 2px solid white;
  background-color: $fondoDark;
  font-weight: bold;
  border-radius: 10px;
  color: white;
  padding: 8px;
}

.time {
  text-align: center;
  background-color: white;
  color: $fondoDark;
  font-family: LoveStory;
  font-size: 2.6em;
}

.btn-time:hover {
  background-color: white;
  color: $fondoDark;
  border: 2px solid $fondoDark;
}

.textState {
  text-align: center;
  color: white;
  font-family: LoveStory;
  font-size: 4.5em;
  width: 100%;
}

.time2 {
  background-color: white;
  color: $fondoDark;
  font-family: LoveStory;
  font-size: 6em;
  text-align: center;
}

.buttonsTime {
  //   margin-left: 300px;
  display: flex;
  justify-content: space-evenly;
}

.btnPlay {
  border: 2px solid white;
  color: white;
  background-color: $fondoDark;
  border-radius: 10px;
  width: 250px;
  height: 50px;
}

.btnReset {
  border: 2px solid white;
  color: white;
  background-color: $fondoDark;
  border-radius: 10px;
  width: 250px;
  height: 50px;
  // margin-left: 150px;
}

.btnPlay:hover {
  background-color: white;
  color: $fondoDark;
  border: 2px solid $fondoDark;
}

.btnReset:hover {
  background-color: white;
  color: $fondoDark;
  border: 2px solid $fondoDark;
}

@media (max-width: 500px) {
  .titleWorkTime {
    margin-top: 50px;
  }

  .buttonsTime {
    margin-left: 0px;
    display: block;
    text-align: center;
  }

  .btnReset {
    width: 200px;
    // margin-left: 150px;
    margin-top: 10px;
  }

  .btnPlay {
    width: 200px;
    // margin-left: 150px;
  }
}
