@import "./../../sass/colors";

.main {
  background-color: $fondoLight;
  .card {
    max-width: 450px;
    margin: auto;
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.85);
  
    form {
      text-align: center;
  
      .form-row {
        text-align: left;
  
        .form-group {
          label {
            color: $fondoDark;
            font-family: "Microsoft New Tai Lue Bold";
          }
  
          input {
            font-family: "Microsoft New Tai Lue";
          }
  
          input.firstName,
          input.lastName {
            border: 1px solid $fondoDark;
          }
  
          .input-group {
            border: 1px solid $fondoDark;
            border-radius: 4px;
            .input-group-prepend {
              .input-group-text {
                background-color: transparent;
                border: none;
                i {
                  color: $fondoDark;
                }
              }
            }
            input.form-control {
              border: none;
              border-left: 1px solid;
            }
          }
  
          input.form-control:focus {
            outline: none;
            box-shadow: none;
          }
        }
      }
  
      button.btn-form {
        display: inline-block;
        font-family: "Microsoft New Tai Lue Bold";
        font-size: 1rem;
        padding: 0.375rem 0.75rem;
        text-align: center;
        vertical-align: middle;
        background-color: $fondoDark;
        border: 1px solid $fondoDark;
        color: white;
        line-height: 1.5;
        border-radius: 0.25rem;
        box-shadow: 0 0.4rem 0.7rem 0.1rem #a33bca91;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }
      .btn-form:hover {
        background-color: white;
        color: $fondoDark;
      }
  
      .btn-form:focus {
        outline: none;
        box-shadow: none;
      }
    }
  
    .card-footer {
      p {
        a {
          text-decoration: none;
        }
        a:hover {
          color: $fondoDark;
          font-weight: 600;
        }
      }
    }
  }
}